// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  padding: 1em;
  border: 1px solid $gray-lighter;
  margin-top: -1px;

  header {
    a {
      color: inherit;
    }
  }
  .user-container {
    margin-left: 60px;
    margin-right: 100px;
  }
  .gravatar {
    float: left;
    margin-left: -60px;
  }
  .fullname {
    font-weight: bold;
  }
  .username {
    color: $gray-light;
  }
  .bio {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .follow-bar {
    float: right;
  }
}

.profile {
  .gravatar {
    display: block;
    margin: auto;
  }
  .fullname {
    font-size: 24px;
    margin-bottom: 0px;
    a {
      color: inherit;
    }
  }
  .username {
    color: $gray-light;
    font-size: 14px;
    margin-top: 0px;
    a {
      color: inherit;
    }
  }
  .email {
    margin-bottom: 20px;
  }
}
